*{
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)),url(space2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.text{
    width: 60%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    font-size: 69px;    
}
.text p{
    margin: 10px o 40px;
    font-size: 20px;
    color: white;
}
/* About Me*/
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.column{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.card{
    font-family: 'Poppins';
    flex-basis: 31%;
    background: #fff3f3;
    background-blend-mode: lighten;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.69s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.card:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*projects section*/
.projects{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}